<header>
    <a href="/" class="logo"><img src="/img/Mighty-Doors-Garage-Door-Red-Deer.webp" alt="">Mighty Doors</a href="index.ejs">
    <nav>
        <ul>
            <i><a href="#">Repairs</a></i>
            <i><a href="garagedoors.ejs">Garage Doors</a></i>
            <i><a href="#">Free Quotes</a></i>
        </ul>
    </nav>
</header>